@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700);

:root {
    --color-blue-1:#2E2E3D;
    --color-blue-2: #1F282D;
    

    --color-gray-1:#707070;
    --color-gray-2:#EAEDF1;
    --color-gray-3:#BCBCBC;
    --color-gray-4:#63696C;

    --color-black:#1F282D;
    --color-white:#FCFFFE;
    
  }
  html,body{
      margin:0;
      padding:0;
  }
  *{
      font-family: 'Montserrat', sans-serif;
      box-sizing: content-box;
  }
  #main{
      display: flex;
      flex-direction: column;
  }

  /* ***** General buttons styling start ***** */

  .btn{
    padding:8px 24px;
    background-color: transparent;
    border:1px solid var(--color-black);
    color:var(--color-black);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 99px;
  }

  .btn-dark{

  }
  .btn:hover{
    cursor: pointer;
  }
  .btn-blue{
    background-color: var(--color-blue-2);
    border-color: var(--color-blue-2);
    color:var(--color-white);
  }
  .btn-blue:hover{
    background-color: var(--color-blue-1);
    border-color: var(--color-blue-1);
    cursor:pointer;
  }
  .btn.btn-white{
    background-color: var(--color-white);
    border-color: var(--color-white);
  }
  .btn.btn-large{
    padding:15px 40px;
  }
  /* ***** General buttons styling end ******* */





  /* ***** General input styling start ******* */
  input{
    padding:12px 30px;
    border:none;
    background-color: var(--color-white);
    font-size: 1em;
    text-align: center;
    color:var(--color-black);
    border-radius: 3px;
  }
  input::placeholder{
    color:var(--color-black);
  }

  /* ***** General input styling end ********* */







  .login-bar{
    position: absolute;
    top:30px;
    left:60px;
    text-align: right;
    font-size: 0.9em;
    line-height: 1.4em;
    width: 300px;
  }
  .login-bar .wrapper{
    float: left;
  }
  .login-bar span{
    font-weight: 600;
    display: block;
    
  }
  .login-bar .btn{
   
    float:left;
    margin-left: 20px;
    margin-top: 2px;
  }
  .container{
      flex:100vh;
  
      display: flex;
      /*justify-content: space-between;*/
  }
  .container .primary{
    padding:0 100px;  
    flex:10;
    background-color: var(--color-gray-2);

    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .container .primary .viewport-wrapper{
    flex-basis: 80vh;
  }
  .container .primary .viewport{
    flex: 0 1 100%;
    
    display:flex;
    }
    .container .primary .viewport .scale{
        flex:2;
        text-align: center;
        font-size: 0.8em;
        
    }
    .container .primary .viewport .scale div{
        margin:60px 0;
        color:var(--color-gray-1);
        /*Skriv om til FLEX?*/
    }
    .container .primary .viewport .tool{
        flex:10;
       
        margin-top:60px;
        display: flex;
        flex-direction: column;
        
    }
    .container .primary .viewport .tool svg{
        height: 110px;
    }



    .shop-view-list h1{
      margin-bottom: 30px;
    }
    .shop-view-list{
      display: flex;
      flex-direction: column;
      margin-right: 10%;
    }

    .shop-item{
      padding:20px 0;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid var(--color-gray-3);

    }
    .shop-item div{
      flex:7;
    }
    .shop-item div:nth-child(2){
      flex:3;
      text-align: right;
    }





    svg polygon{
      fill: url(#ItemGradient);
    }
    
    
    
    
    #ItemGradient stop.first-color {
      stop-color: #909090;
    }
    #ItemGradient stop.second-color {
      stop-color: #C3C4C4;
    }
    
    #ItemGradient stop.third-color {
      stop-color: #AEAFAF;
    }


  /* ***** Secodary Div styling start ******* */
  .container .secondary{
      background-color: var(--color-blue-2);
      flex:2;
      color:#fff;
  
      padding:60px;
  }
  .container .secondary.sidebar div{
      margin:20px 0;
  }
  .container .secondary.sidebar div:nth-child(1){
      font-weight: 600;
  }
  .container .secondary.sidebar div:nth-child(2){
      font-weight: 500;
      font-size: 1.8em;
  }
  .container .secondary h2{
    font-weight: 500;
    font-size: 1em;
  }
  .container .secondary h1{
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 25px;
  }
  
  .container .secondary .navigation_bar{
    background-color: var(--color-blue-1);
    display: flex;
    
    border-radius: 99px;
  }
 
  .container .secondary .navigation_bar a{
    padding:12px 28px;
    background-color: var(--color-blue-1);
    color:var(--color-gray-3);
    text-decoration: none;
    font-weight: 500;
    border-radius: 99px;
    
  }
  .container .secondary .navigation_bar a.active{
    background-color: var(--color-white);
    color:var(--color-black);
  }
  .secondary .text-table{
    margin-top: 60px;
    border-bottom: 1px solid var(--color-gray-4);
    padding-bottom: 30px;
  }
  .secondary .text-table:nth-child(5){
    border-bottom: none;
    margin-top: 40px;
  }
  .secondary .text-table .text-table-row{
    display: flex;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  .secondary .text-table .text-table-row .text-table-left{
    flex: 1 1 50%;
    color:var(--color-gray-1);
    
  }
  .secondary .text-table .text-table-row .text-table-right{
    flex: 1 1 50%;
    color:var(--color-white);
    
  }
  /* ***** Secodary Div styling end ******** */
  






  

   /* ***** Overlay Login Screen start ******* */
  .overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: #E76049;
      left: 0px;
      top: 0px;

      display: flex;
      justify-content: center;
    
  }
  .overlay .overlay-container{
    flex-basis: 50%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    
  }
  .overlay .overlay-viewport{
    flex-basis: 50%;
    text-align: center;  
    color: #fff;
  }
  .overlay .overlay-viewport input{
    margin-bottom: 15px;
  }
  .overlay .overlay-viewport button{
    margin-bottom: 30px;
    margin-top: 25px;
   
  }

.overlay h1 {
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 40px;
}
.overlay a{
  color:var(--color-black);
  text-decoration: underline;
  font-weight: 500;
}

a:hover.pointer-link {
  cursor: pointer;
}
/* ***** Overlay Login Screen end ******* */