@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700);

:root {
    --color-blue-1:#2E2E3D;
    --color-blue-2: #1F282D;
    

    --color-gray-1:#707070;
    --color-gray-2:#EAEDF1;
    --color-gray-3:#BCBCBC;

    --color-black:#1F282D;
    --color-white:#FCFFFE;

    --color-orange:#E76049;
    
  }
  html,body{
      margin:0;
      padding:0;
  }
  *{
      font-family: 'Montserrat', sans-serif;
      box-sizing: content-box;
  }
  #main{
      display: flex;
      flex-direction: column;
  }
  .login-bar{
    position: absolute;
    top:30px;
    left:60px;
    text-align: right;
    font-size: 0.9em;
    line-height: 1.4em;
    width: 300px;
  }
  .login-bar .wrapper{
    float: left;
  }
  .login-bar span{
    font-weight: 600;
    display: block;
    
  }
  .login-bar .btn{
    padding:8px 24px;
    background-color: transparent;
    border:1px solid var(--color-black);
    color:var(--color-black);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 99px;
    float:left;
    margin-left: 20px;
    margin-top: 2px;
  }
  .container{
      flex:100vh;
  
      display: flex;
      justify-content: space-between;
  }
  .container .primary{
    padding:0 100px;  
    flex:10;
    background-color: var(--color-gray-2);

    display:flex;
    justify-content: center;

      
  }
  .container .primary .tool-viewport{
    flex: 0 1 100%;
    
    display:flex;
    }
    .container .primary .tool-viewport .scale{
        flex:2;
        text-align: center;
        font-size: 0.8em;
        
    }
    .container .primary .tool-viewport .scale div{
        margin:60px 0;
        color:var(--color-gray-1);
        /*Skriv om til FLEX?*/
    }
    .container .primary .tool-viewport .tool{
        flex:10;
       
        margin-top:60px;
        display: flex;
        flex-direction: column;
        
    }
    .container .primary .tool-viewport .tool svg{
        height: 150px;
    }

    svg polygon{
      fill: url(#ItemGradient);
    }
    
    
    
    
    #ItemGradient stop.first-color {
      stop-color: #909090;
    }
    #ItemGradient stop.second-color {
      stop-color: #C3C4C4;
    }
    
    #ItemGradient stop.third-color {
      stop-color: #AEAFAF;
    }

  .container .secondary{
      background-color: var(--color-blue-2);
      flex:2;
      color:#fff;
  
      padding:60px;
  }
  .container .secondary.sidebar div{
      margin:20px 0;
  }
  
  .container .secondary.sidebar div:nth-child(1){
      font-weight: 600;
  }
  .container .secondary.sidebar div:nth-child(2){
      font-weight: 500;
      font-size: 1.8em;
  }
  .container .secondary h2{
    font-weight: 500;
    font-size: 1em;
  }
  .container .secondary h1{
    font-weight: 500;
    font-size: 1.8em;
  }
  
  .container .secondary .navigation_bar{
    background-color: var(--color-blue-1);
    display: flex;
    
    border-radius: 99px;
  }
 
  .container .secondary .navigation_bar a{
    padding:12px 28px;
    background-color: var(--color-blue-1);
    color:var(--color-gray-3);
    text-decoration: none;
    font-weight: 500;
    border-radius: 99px;
    
  }
  .container .secondary .navigation_bar a.active{
    background-color: var(--color-white);
    color:var(--color-black);
  }
  
  

  /* OVERLAY START SKJERM */
  .overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: #E76049;
      left: 0px;
      top: 0px;

      text-align: center;
      padding-top: 60px;
      color: #fff;
  }

.overlay h1 {
    font-weight: 500;
    font-size: 1.8em;
}